<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalServices</display-name>
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CacheFilter</filter-name>
    <filter-class>com.itt.hospital.filter.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.itt.hospital.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddDoctorServlet</display-name>
    <servlet-name>AddDoctorServlet</servlet-name>
    <servlet-class>com.itt.hospital.controller.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorServlet</servlet-name>
    <url-pattern>/AddDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.itt.hospital.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PatientRegisterationServlet</display-name>
    <servlet-name>PatientRegisterationServlet</servlet-name>
    <servlet-class>com.itt.hospital.controller.PatientRegisterationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegisterationServlet</servlet-name>
    <url-pattern>/PatientRegisterationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewDoctorServlet</display-name>
    <servlet-name>ViewDoctorServlet</servlet-name>
    <servlet-class>com.itt.hospital.controller.ViewDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDoctorServlet</servlet-name>
    <url-pattern>/ViewDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewPatientServlet</display-name>
    <servlet-name>ViewPatientServlet</servlet-name>
    <servlet-class>com.itt.hospital.controller.ViewPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatientServlet</servlet-name>
    <url-pattern>/ViewPatientServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.html</location>
  </error-page>
</web-app>