/* homepage.css */
body {
	background-image:url("../images/hospital1.jpg");
	background-repeat: no-repeat; background-size: 100%;
}
marquee {
	width: 100%;
	background-color: lightblue;
}
a:link, a:visited {
  background-color: red;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} 
a:hover, a:active{
background-color:blue;
}
